<div class="list-of-questions">
    <ul>
      <!-- <mat-card class="question-card" *ngFor="let list of getQuestions()" [routerLink]="['/qnas', list.Question.id]" (click)= "onClick(list.Question.id)"> -->
      <mat-card class="question-card" *ngFor="let list of getQuestions()" >
        <div class="question-item">
          <div class="answer-layout">
            <div class="no-of-answers">{{ list.answerCount }}</div>
            <div class="answer-text">Answers</div>
          </div>
          <div class="question-layout">
            <a class="question" [routerLink]="['/qna', list.Question.id]" (click)= "onClick(list.Question.id)">{{ list.Question.question }}</a>
            <div class="description" [routerLink]="['/qna', list.Question.id]" (click)= "onClick(list.Question.id)" >{{ list.Question.description }}</div>
            <!-- <div class="description" [routerLink]="['/qna', list.Question.id]" (click)= "onClick(list.Question.id)" [innerHtml]=list.Question.description></div> -->

              <span *ngFor="let tag of getTags(list.tags)" class="chips" (click)="onTagClick(tag)"> {{ tag }}</span>
          </div>
        </div>
      </mat-card>
    </ul>
  </div>
  