.mat-toolbar {
  background-color: #1776bf;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.search {
  border: 0cm;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000000;
  width: 700px;
}

.dlt-button {
	color: #1776bf;
	text-decoration: none;
	padding: 0 .75rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 30px;
	-moz-transition: .25s ease-in;
	-o-transition: .25s ease-in;
	-webkit-transition: .25s ease-in;
	transition: .25s ease-in;
	cursor: pointer;
	border: 1px solid transparent;
	outline: 1px solid transparent;
	outline-offset: -2px;
	margin-left: 10px;
  display: inline-block
}


.searchbar {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.list-of-questions {
  position: relative;
}

.row-ele {
  position: absolute;
}
.question-card {
  margin-bottom: 10px;
  margin-top: 10px;
  width: max-content;
  height: max-content;
}

.question-layout {
  float: left;
  padding: 10px;
  margin-left: 16px;
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}

.question {
  color: darkslategray;
  font-weight: bold;
  font-size: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  margin-top: 5px;
  margin-bottom: 10px;
  color: lightslategrey;
  font-weight: lighter;
  font-size: smaller;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chips {
  font-size: x-small;
  color: #fff;
  position: relative;
  background-color: #1776bf;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.chips:hover {
  font-size: x-small;
  color: #fff;
  position: relative;
  background-color: #0f4c7b;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.user-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dropdown {
  position: absolute;
  display: flex;
  color: aliceblue;
  right: 20px;
  border-radius: 50px;
  padding: 10px;
  background-color: #0f4c7b;
}
.icon {
  display: flex;
  position: absolute;
  color: aliceblue;
  border-radius: 50px;
  padding: 10px;
  background-color: #0f4c7b;
  left: 10px;
}

.dlt-overflow-menu {
	position: absolute;
	display: none;
	white-space: nowrap;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: .875rem;
	color: #333;
	background: #fff;
	-webkit-box-shadow: 0 .03rem .25rem 0 rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 .03rem .25rem 0 rgba(0, 0, 0, .5);
	box-shadow: 0 .03rem .25rem 0 rgba(0, 0, 0, .5);
	list-style-type: none;
	z-index: 2;
	top: 2.125rem;
	right: -.875rem;
	background: #fff;
	-webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, .5));
	-moz-filter: 0 0 0 rgba(0, 0, 0, .5);
	filter: drop-shadow(0 0 0 rgba(0, 0, 0, .5));
	padding: .5rem 0
}

.dlt-overflow-menu .scroll-wrapper {
	padding: 1rem .5rem .5rem 1rem;
	height: 14.25rem;
	overflow: auto
}

.dlt-overflow-menu .scroll-wrapper .mCSB_inside>.mCSB_container {
	margin-right: 0
}

.dlt-overflow-menu .scroll-wrapper .mCSB_scrollTools {
	width: .25rem;
	background: #f2f2f2
}

.dlt-overflow-menu .scroll-wrapper .mCSB_draggerContainer {
	right: 0!important
}

.dlt-overflow-menu .scroll-wrapper .mCSB_dragger_bar {
	border-radius: 0!important;
	background-color: #666!important
}

.dlt-overflow-menu .scroll-wrapper .mCSB_draggerRail {
	opacity: 0
}

.dlt-overflow-menu a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-size: small;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.dlt-overflow-menu a:hover {background-color: rgb(30, 169, 255)}

.dropdown:hover .dlt-overflow-menu {
  display: inline-block;
}
