.mat-toolbar {
  /* background-color: #000000; */
  background-color: #1776bf;
  /* background-color: #bf4717; */
  height: max-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.search {
  border: 0cm;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000000;
  width: 80%;
}
.dummy {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.dummy-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 90%;
}
.dlt-button {
  color: #1776bf;
  text-decoration: none;
  padding: 0 0.75rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 30px;
  -moz-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  outline-offset: -2px;
  margin-left: 10px;
  display: inline-block;
}

.searchbar {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  padding: 10px;
}
.search-icon {
  color: white;
  background-color: #1776bf;
  padding: 5px;
}
.inside-searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-of-questions {
  position: relative;
}

.row {
  width: 100%;
}
.row-ele {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-flexbox;
  flex-direction: column;
  align-self: center;
  left: 50%;
  margin-left: -37.5%;
  max-height: 400px;
  width: 73%;
}

.question-layout {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f7f7f7;
}

.question-layout:hover {
  background-color: lightskyblue;
}

.question {
  text-decoration: none;
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.chip-layout {
  display: block;
  margin-bottom: 5px;
}

.chips {
  font-size: small;
  text-decoration: none;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  background-color: #1776bf;
  margin-right: 10px;
  cursor: pointer;
}
.chips:hover {
  font-size: small;
  text-decoration: none;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  background-color: #0f4c7b;
  margin-right: 10px;
  cursor: pointer;
}

.user-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.admin {
  font-family: sans-serif;
  font-size: x-small;
  background-color: #0f4c7b;
  color: #fff;
  height: 20px;
  text-align: center;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  width: min-content;
  border-radius: 4px;
}
.dropdown {
  position: absolute;
  display: flex;
  height: fit-content;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  right: 0;
  bottom: 0;
  top: 0;
}

.menu-items {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0f4c7b;
}
.icon {
  display: flex;
  position: absolute;
  color: aliceblue;
  border-radius: 50px;
  padding: 8px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #0f4c7b;
}
.userprofilepic {
  color: white;
}

.parent {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100% !important;
}
.toolbar {
  height: 52px;
}

span {
  outline: none;
}

.main-layout {
  margin-top: 16px;
  display: flex;
}
.router {
  width: 100%;
  margin-left: 24px;
}

.header {
  display: flex;
  align-self: start;
  align-items: center;
  justify-items: center;
  width: max-content;
  outline: none;
  margin: 5px;
}

.product-icon {
  color: #ffffff;
  border-radius: 200px;
  margin-left: 10px;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  outline: none;
  background-color: #0f4c7b;
}
.product-name {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: small;
  margin: 0;
  margin-top: 0;
  cursor: pointer;
  /* font-weight: bolder; */
}
/* .product-name-secondary {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: small;
  margin: 0;
} */

.product {
  /* background-color: lightcoral; */
  margin-left: 10px;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
}

ul.breadcrumb {
  padding: 10px 16px;
  cursor: pointer;
  list-style: none;
  margin-top: 0px;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: small;
  outline: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #0275d8;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li:hover {
  color: #01447e;
  font-weight: bolder;
}

.dlt-breadcrumbs {
  list-style: none;
  width: 100%;
  max-width: 48rem;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 20px;
}

.dlt-breadcrumbs li {
  color: #666;
  display: inline-block;
}

.dlt-breadcrumbs li::before {
  content: "\f1df";
  font-family: dlt-icons;
  font-size: 1rem;
  color: grey;
  vertical-align: middle;
  padding: 0 0.125rem;
}

.dlt-breadcrumbs li:first-child::before {
  visibility: hidden;
}

.dlt-breadcrumbs li a[aria-current="page"] {
  color: #666;
  text-decoration: none;
  pointer-events: none;
}

.dlt-breadcrumbs li a[aria-current="page"]:active,
.dlt-breadcrumbs li a[aria-current="page"]:focus,
.dlt-breadcrumbs li a[aria-current="page"]:hover {
  color: #666;
  text-decoration: none;
  pointer-events: none;
}

.dlt-breadcrumbs .has-submenu {
  position: relative;
}

.dlt-breadcrumbs .has-submenu .dlt-overflow-menu {
  top: initial;
}

.dlt-breadcrumbs .has-submenu .dlt-overflow-menu::after {
  left: calc(50% - 5px);
  margin: 0;
  right: 0;
}

.dlt-breadcrumbs .has-submenu:hover .dlt-overflow-menu {
  display: block;
}

.dlt-breadcrumbs .has-submenu > a {
  line-height: 1.875rem;
}

.lg-breadcrumb {
  font-size: 1rem;
}

.lg-breadcrumb .dlt-links {
  font-size: 1rem;
}

.lg-breadcrumb li::before {
  font-size: 1.125rem;
}

.sm-breadcrumb {
  font-size: 0.75rem;
}

.sm-breadcrumb .dlt-links {
  font-size: 0.75rem;
}

.sm-breadcrumb li::before {
  font-size: 0.875rem;
}
