.mat-toolbar {
  /*   background-color: #000000; */
  background-color: #1776bf;
  /* background-color: #bf4717; */
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 16%;
  /* z-index: 2; */
  width: 84% !important;
}

.search {
  border: 0cm;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000000;
  width: 700px;
}

.dlt-button {
  color: #1776bf;
  text-decoration: none;
  padding: 0 0.75rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 30px;
  -moz-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  outline-offset: -2px;
  margin-left: 10px;
  display: inline-block;
}

.searchbar {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.list-of-questions {
  position: relative;
}

.row-ele {
  position: absolute;
  overflow-y: auto;
  height: 400px;
}

.question-layout {
  width: 700px;
  padding-right: 16px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f7f7f7;
}

.question-layout:hover {
  background-color: lightskyblue;
}

.question {
  text-decoration: none;
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.chip-layout {
  display: block;
  margin-bottom: 5px;
}

.chips {
  font-size: small;
  text-decoration: none;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  background-color: #1776bf;
  margin-right: 10px;
  cursor: pointer;
}
.chips:hover {
  font-size: small;
  text-decoration: none;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  background-color: #0f4c7b;
  margin-right: 10px;
  cursor: pointer;
}

.user-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dropdown {
  position: absolute;
  display: flex;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 8px;
}

.menu-items {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0f4c7b;
}
.icon {
  display: flex;
  position: absolute;
  color: aliceblue;
  border-radius: 50px;
  padding: 8px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #0f4c7b;
}
.userprofilepic{
  color: white;
}

.dlt-overflow-menu {
  position: absolute;
  display: none;
  white-space: nowrap;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 0 0.03rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.03rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.03rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  list-style-type: none;
  z-index: 2;
  top: 2.125rem;
  right: -0.875rem;
  background: #fff;
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.5));
  -moz-filter: 0 0 0 rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.5));
  padding: 0.5rem 0;
}

.dlt-overflow-menu .scroll-wrapper {
  padding: 1rem 0.5rem 0.5rem 1rem;
  height: 14.25rem;
  overflow: auto;
}

.dlt-overflow-menu .scroll-wrapper .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.dlt-overflow-menu .scroll-wrapper .mCSB_scrollTools {
  width: 0.25rem;
  background: #f2f2f2;
}

.dlt-overflow-menu .scroll-wrapper .mCSB_draggerContainer {
  right: 0 !important;
}

.dlt-overflow-menu .scroll-wrapper .mCSB_dragger_bar {
  border-radius: 0 !important;
  background-color: #666 !important;
}

.dlt-overflow-menu .scroll-wrapper .mCSB_draggerRail {
  opacity: 0;
}

.dlt-overflow-menu a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-size: small;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.dlt-overflow-menu a:hover {
  background-color: rgb(30, 169, 255);
}

.dropdown:hover .dlt-overflow-menu {
  display: inline-block;
}
