<div class="mat-toolbar">
  <div class="header" [routerLink]="['/main']">
    <mat-icon class="product-icon">devices</mat-icon>
    <div class="product">
      <div class="product-name">TROUBLESHOOTING TOOL</div>
    </div>
  </div>
  <div class="dropdown">
    <mat-icon
      style="cursor: pointer;"
      [matMenuTriggerFor]="menu"
      class="userprofilepic"
      >person</mat-icon
    >
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/main']">
        <mat-icon style="color: #0f4c7b;">person</mat-icon>
        <a class="menu-items">{{ username }}</a>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['/main/dashboard']">
        <mat-icon>dashboard</mat-icon>
        <a class="menu-items">Dashboard</a>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <a class="menu-items">Logout</a>
      </button>
    </mat-menu>
  </div>
  <div class="searchbar">
    <div class="inside-searchbar">
      <div class="dummy">
        <div class="dummy-inside">
          <input
            id="searchinput"
            class="search"
            placeholder="Search here"
            (input)="search($event.target.value)"
            input
            (keyup.enter)="onEnter()"
          />

          <mat-icon class="search-icon" (click)="onEnter()">search</mat-icon>
        </div>

        <!-- </div> -->
        <div class="row">
          <div class="row-ele">
            <div class="question-layout" *ngFor="let list of getQuestions()">
              <div class="card">
                <div
                  class="question"
                  [routerLink]="['main/qna', list.Question.id]"
                  (click)="onClick(list.Question.id)"
                >
                  {{ list.Question.question }}
                </div>
                <div class="chip-layout">
                  <span
                    (click)="onTagClick(tag)"
                    class="chips"
                    *ngFor="let tag of getTags(list.tags)"
                  >
                    {{ tag }}
                  </span>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
