.parent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.layout {
  width: 800px;
}

.answers {
  margin-top: 10px;
  display: flex;
  justify-content: left;
}

.mat-divider {
  margin-bottom: 10px;
}
.answer-layout {
  margin-left: 20px;
  margin-right: 20px;
}

.answer {
  margin-top: 10px;
  color: #657506;
  font-size: smaller;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  width: min-content;
  white-space: nowrap;
  background-color: #eafa8f;
}
.richtexteditor {
  margin-top: 16px;
}

.qn-details {
  display: flex;
  justify-content: space-between;
}
.posted-details {
  text-align: center;
  width: max-content;
}

.answer-count {
  float: left;
  color: #829707;
  font-weight: bolder;
  font-size: large;
  margin-top: 16px;
  margin-bottom: 16px;
  width: max-content;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: smaller;
  white-space: pre-wrap;
}

.chips {
  font-size: smaller;
  color: #fff;
  position: relative;
  background-color: #1776bf;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.chips:hover {
  font-size: smaller;
  color: #fff;
  position: relative;
  background-color: #0f4c7b;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.vote {
  font-size: large;
  color: blue;
}
.vote-layout {
  width: min-content;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.question {
  font-size: x-large;
}
.mat-icon {
  font-family: "Material Icons";
}
.posted-date {
  font-size: small;
}
.posted {
  font-size: smaller;
  font-weight: lighter;
  color: lightslategrey;
}

.dlt-button {
  color: #fff;
  background-color: #1776bf;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-left: 10px;
  float: right;
  margin-top: 10px;
  display: inline-block;
}

.dlt-button-post-answer {
  color: #fff;
  background-color: #1776bf;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

/* ----------------------------------------------------------------------------------------------------- */
