<div class="parent">
  <mat-card class="layout">
    <div class="question">{{ response.Question.question }}</div>
    <div class="description" [innerHTML]="response.Question.description"></div>
    <div>
      <span
        *ngFor="let tag of response.tags"
        class="chips"
        (click)="onTagClick(tag)"
      >
        {{ tag }}</span
      >
    </div>
    <div>
      <div style="display: flex;">
        <p>Attachments</p>
        <mat-icon style="align-self: center; margin-left: 5px;">attachment</mat-icon>
      </div>
      <div *ngFor="let item of getAttachmentFileNames()">
        <div class="attachment-items" (click)="onAttachmentClick(item)">{{ item }}</div>
        <!-- <div *ngIf="item.includes('/png')"><img style="max-width: 70px; max-height: 50px;" src="{{ item }}" /></div> -->
        <!-- <div *ngIf="item.includes('/pdf')"><iframe src="{{ item }}"></iframe></div> -->
      </div>
    </div>
    <div class="qn-details">
      <div>
        <p class="answer-count" id="answercount">
          {{ response.answerCount }} Answers
        </p>
      </div>
      <div class="posted-details">
        <div class="posted">Posted on</div>
        <div class="posted-date">
          {{ response.Question.creationDate | date: "mediumDate" }}
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="list-of-answers" *ngFor="let item of response.Answers">
      <div class="answers">
        <div class="vote-layout">
          <mat-icon>arrow_drop_up</mat-icon>
          <div class="vote">{{ item.voteCount }}</div>
          <div>Votes</div>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div style="width: 100%;">
          <div class="answer-layout">
            <div class="answer" *ngIf="item.isApproved">Approved</div>
            <div class="description" [innerHTML]="item.description"></div>
          </div>
          <div style="float: right;margin-bottom: 10px;" class="posted-details">
            <div class="posted">Posted on</div>
            <div class="posted-date">
              {{ item.postedDate | date: "mediumDate" }}
            </div>
          </div>
        </div>
        
        
      </div>
      
      <mat-divider></mat-divider>
    </div>
    <div>
      <ejs-richtexteditor
        #imageRTE
        id="imageRTE"
        class="richtexteditor"
        width="100%"
        height="350px"
        [(ngModel)]="val"
      ></ejs-richtexteditor>
      <button
        mat-button
        class="dlt-button-post-answer"
        type="submit"
        (click)="post_ans()"
      >
        Post Answer
      </button>
    </div>
  </mat-card>
</div>
