.parent {
  display: flex;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.layout {
  width: 100%;
  justify-content: center;
}

.close {
  cursor: pointer;
  outline: none;
  position: absolute;
  font-size: medium;
  color: #1776bf;
  right: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  justify-self: flex-end;
  padding-right: 8px;
  padding-bottom: 8px;
}

.answers {
  margin-top: 10px;
  display: flex;
  justify-content: left;
}

.mat-divider {
  margin-bottom: 10px;
}
.answer-layout {
  margin-left: 20px;
  margin-right: 20px;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 90%;
}

.answer {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #657506;
  font-size: smaller;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  width: min-content;
  white-space: nowrap;
  background-color: #eafa8f;
  align-content: end;
}
.richtexteditor {
  margin-top: 16px;
  min-width: 100%;
  max-width: 100%;
  z-index: 1;
  min-height: 300px;
  max-height: 700px;
}

.qn-details {
  display: flex;
  justify-content: space-between;
}
.posted-details {
  width: max-content;
}


.ans-posted-details {
  text-align: right;
  height: min-content;
  margin-right: 16px;
  margin-bottom: 16px;
  /* background-color: aquamarine; */
}

.answer-count {
  float: left;
  color: #829707;
  font-weight: bolder;
  font-size: large;
  margin-top: 16px;
  margin-bottom: 16px;
  width: max-content;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: smaller;
  white-space: pre-wrap;
}
.ansdescription {
  font-size: smaller;
  white-space: pre-wrap;
  width: 100%;
}

.chips {
  font-size: smaller;
  color: #fff;
  position: relative;
  background-color: #1776bf;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.chips:hover {
  font-size: smaller;
  color: #fff;
  position: relative;
  background-color: #0f4c7b;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.vote-layout {
  width: min-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: x-large;
}
.arrow {
  font-size: 50px;
}
.vote {
  color: #657506;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.attachment-items {
  /* cursor: pointer;
  width: max-content;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #CDE6F9;
  margin: 2px;
  border-radius: 8px; */

  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #CDE6F9;
  border-color: lightblue;
  border-style: solid;
  border-radius: 24px;
  border-width: .5px;
  margin-top: 4px;
}
.posted-date {
  font-size: small;
}
.posted {
  font-size: smaller;
  color: lightslategrey;
}

.dlt-button {
  color: #fff;
  background-color: #1776bf;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-left: 10px;
  float: right;
  margin-top: 10px;
  display: inline-block;
}

.dlt-button-post-answer {
  color: #fff;
  background-color: #1776bf;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-left: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: inline-block;
}
.list-of-answers {
  background-color: rgb(247, 247, 247);
}

.add_attachment{
  margin-top: 16px;
  cursor: pointer;
  width: max-content;
  height: fit-content;
  font-size: smaller;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #eeeeee;
  border-color: lightgray;
  border-style: solid;
  border-radius: 24px;
  border-width: .5px;
  align-self: end;
  margin-right: 24px;
}

.uploadfilecontainer {
  width: 60%;
  margin-top: 16px;
  margin-left: 16px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: none;
  align-self: center;
  align-items: center;
  height: 50px;
  border: 0.5px dashed #0f4c7b;
  border-radius: 0px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #ceeafd !important;
  opacity: 0.8;
}

.button {
  background-color: #1776bf;
  color: #ffffff;
  margin-left: 24px;
}
.fileitem {
  background-color: #eeeeee;
  border-radius: 4px;
  width: max-content;
  padding-left: 4px;
  margin-top: 4px;
  margin-left: 16px;
}
.upload-table {
  font-size: small;
  font-weight: bold;
  margin-left: 16px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  cursor: pointer;
  position: absolute;
  margin-right: 36px;
  margin-top: 8px;
  right: 0;
}
/* ----------------------------------------------------------------------------------------------------- */
