ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin-top: 0px;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: medium;
  color: #0275d8;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li:hover {
  color: #01447e;
  font-weight: bolder;
}
.toolbar{
  height: 100px;
}
