.span {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 10px;
    outline: none;
    font-size: medium;
    cursor: pointer;
    display: flex;
  }
  .parent {
    width: 100%; 
    height: 100%;
  }
  
  .category,.admin , .settings{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8px;
    margin-right: 16px;
    outline: none;
    align-self: center;
  }
  .mat-icon{
    color:#0f4c7b;;
  }
.category:hover,.admin:hover,.settings:hover {
    background-color: #eeeeee;
  }
  
