<div class="parent">
  <mat-card class="block">
    <div>
      <div class="headers">
        <div class="h1">Welcome</div>
        <div class="h2">PLEASE LOG IN</div>
      </div>
      <div class="item">
        <mat-icon class="icon">person</mat-icon>
        <input
          class="input-div"
          id="username"
          type="text"
          required
          placeholder="Username"
          required
        />
      </div>
      <div class="item">
        <mat-icon class="icon">lock</mat-icon>
        <input
          id="password"
          type="password"
          required
          class="input-div"
          placeholder="Password"
          required
        />
      </div>
      <mat-error
        style="margin-left: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: small;"
        *ngIf="response === 'true'" >
        Invalid Credentials !!
      </mat-error>
      <button mat-button class="loginbutton" (click)="login()">LOG IN</button>
    </div>
  </mat-card>
</div>
