
  .dlt-button-post {
    margin-top: 16px;
    left: 16px;
    width: max-content;
    color: #ffffff;
    background-color: #1776bf;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-right: 10px;
  }
  

  .parent{
    width: 100%;
  }

  .textarea {
    margin-top: 16px;
    width: 50%;
  }

  h3{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color:#1776bf;
  }
  .span{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-top:10px;
  }
  .category-card{
    margin: 24px;
  }