<div class="parent">
  <div>
    <mat-card class="category-card">
      <h3>Add Category</h3>
      <mat-divider></mat-divider>
      <mat-form-field class="textarea">
        <input
          [formControl]="categories"
          type="text"
          placeholder="Add category"
          matInput
        />
      </mat-form-field>

      <button
        mat-button
        class="dlt-button-post"
        type="submit"
        (click)="addCategory()"
      >
        ADD
      </button>
    </mat-card>
  </div>
  <div>
    <mat-card class="category-card">
      <h3>List of Categories</h3>
      <mat-divider></mat-divider>
      <div style="overflow-y: scroll;max-height: 400px;">
        <div class="span" *ngFor="let option of get_adminCategory()">
          {{ option }}
        </div>
      </div>
    </mat-card>
  </div>
</div>
