<div>
    <div class="parent">
      <app-search class="app-search"></app-search>
      <div class="toolbar"></div>
      <!-- <div class="breadcrumbs">
        <ul class="breadcrumb">
          <li><span [routerLink]="['']">Home</span></li>
          <li><span [routerLink]="['/category']">Categories</span></li>
          <li>
            <span [routerLink]="['/category', category]">{{
              getCategory()
            }}</span>
          </li>
        </ul>
      </div> -->
    </div>
  
    <div class="main-layout">
      <app-filters></app-filters>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="router"><router-outlet></router-outlet></div>
    </div>
  </div>
  