<div>
    <div class="parent">
     
      <app-filters></app-filters>
      <app-search class="app-search"></app-search>
      <div class="toolbar"></div>
      <!-- <div class="breadcrumbs">
        <ul class="breadcrumb">
          <li><span [routerLink]="['']">Home</span></li>
          <li><span [routerLink]="['/category']">Categories</span></li>
          <li>
            <span [routerLink]="['/category', category]">{{
              getCategory()
            }}</span>
          </li>
        </ul>
      </div> -->
    </div>
  
    <div class="main-layout">
      <!-- <app-filters></app-filters> -->
      <mat-divider [vertical]="true"></mat-divider>
      <div class="router"><router-outlet></router-outlet></div>
    </div>
  </div>
  <button mat-fab class="fab" (click)="openOptions()">
    <mat-icon>add</mat-icon>
  </button>
  <div id="options" class="options">
    <button mat-button class="options-button" (click)="addQAEntry()">
      Add a troubleshooting step
    </button>
    <button mat-button class="options-button" (click)="openDialog()">
      Post a question
    </button>
  </div>