<div class="parent">
  <div style="width: 100%; height: 100px;display: block;">
    <app-search></app-search>
  </div>
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
  <!-- <div class="green">
    <div style="width: 16%;">
      <app-filters></app-filters>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div style="width: 84%;">
      <router-outlet></router-outlet>
    </div>
  </div> -->
</div>

<button mat-fab class="fab" (click)="openOptions()">
  <mat-icon>add</mat-icon>
</button>
<div id="options" class="options">
  <button mat-button class="options-button" (click)="addQAEntry()">
    Add a troubleshooting step
  </button>
  <button mat-button class="options-button" (click)="addQuestion()">
    Post a question
  </button>
</div>
