.parent {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  width: 100% !important;
}
.toolbar {
  height: 52px;
  width: 80%;
}

span {
  outline: none;
}

.main-layout {
  margin-top: 16px;
  display: flex;
}
.router {
  width: 100%;
  margin-left: 24px;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 3;
}

.options {
  position: fixed;
  bottom: 80px;
  right: 24px;
  color: #fff;
  display: none;
  z-index: 3;
  align-items: flex-end;
  flex-direction: column;
  width: max-content;
}
.options-button {
  background-color: #1776bf;
  border-radius: 20px;
  margin-bottom: 10px;
  width: min-content;
}
ul.breadcrumb {
  padding: 10px 16px;
  cursor: pointer;
  list-style: none;
  margin-top: 0px;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: small;
  outline: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #0275d8;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li:hover {
  color: #01447e;
  font-weight: bolder;
}

.dlt-breadcrumbs {
  list-style: none;
  width: 100%;
  max-width: 48rem;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 20px;
}

.dlt-breadcrumbs li {
  color: #666;
  display: inline-block;
}

.dlt-breadcrumbs li::before {
  content: "\f1df";
  font-family: dlt-icons;
  font-size: 1rem;
  color: grey;
  vertical-align: middle;
  padding: 0 0.125rem;
}

.dlt-breadcrumbs li:first-child::before {
  visibility: hidden;
}

.dlt-breadcrumbs li a[aria-current="page"] {
  color: #666;
  text-decoration: none;
  pointer-events: none;
}

.dlt-breadcrumbs li a[aria-current="page"]:active,
.dlt-breadcrumbs li a[aria-current="page"]:focus,
.dlt-breadcrumbs li a[aria-current="page"]:hover {
  color: #666;
  text-decoration: none;
  pointer-events: none;
}

.dlt-breadcrumbs .has-submenu {
  position: relative;
}

.dlt-breadcrumbs .has-submenu .dlt-overflow-menu {
  top: initial;
}

.dlt-breadcrumbs .has-submenu .dlt-overflow-menu::after {
  left: calc(50% - 5px);
  margin: 0;
  right: 0;
}

.dlt-breadcrumbs .has-submenu:hover .dlt-overflow-menu {
  display: block;
}

.dlt-breadcrumbs .has-submenu > a {
  line-height: 1.875rem;
}

.lg-breadcrumb {
  font-size: 1rem;
}

.lg-breadcrumb .dlt-links {
  font-size: 1rem;
}

.lg-breadcrumb li::before {
  font-size: 1.125rem;
}

.sm-breadcrumb {
  font-size: 0.75rem;
}

.sm-breadcrumb .dlt-links {
  font-size: 0.75rem;
}

.sm-breadcrumb li::before {
  font-size: 0.875rem;
}
