<div class="parent-lay">
  <div class="headers">
    <h2 class="username">{{username}}</h2>
    <h6 class="admin" *ngIf="isAdmin === 'true' ">ADMIN</h6>
    <h6 class="admin" *ngIf="isAdmin === 'false' ">USER</h6>
  </div>

  <div class="parent">
    <div class="card-set">
      <mat-card class="card">
        <div>Questions posted</div>
        <div class="number-values">13</div>
      </mat-card>
      <mat-card class="card">
        <div>Questions answered</div>
        <div class="number-values">23</div>
      </mat-card>
      <mat-card class="card">
        <div>Pending for Approval</div>
        <div class="number-values">2</div>
      </mat-card>
    </div>
  </div>

  <div id="review_ques">
    <app-review-questions></app-review-questions>
  </div>
</div>
