<div class="parent-lay">
  <div class="headers">
    <h2 class="username">Divyabharathi .K</h2>
    <h6 class="admin">ADMIN</h6>
  </div>

  <div class="parent">
    <div class="card-set">
      <mat-card class="card">
        <div>Questions posted</div>
        <div class="number-values">13</div>
      </mat-card>
      <mat-card class="card">
        <div>Questions answered</div>
        <div class="number-values">23</div>
      </mat-card>
      <mat-card class="card">
        <div>Review questions</div>
        <div class="number-values">2</div>
      </mat-card>
    </div>
  </div>

  <div>
    <app-review-questions></app-review-questions>
  </div>
</div>
