.span{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 16px;
    outline: none;
    font-size: medium;
    cursor: pointer;
    display: flex;
}
.breadcrumbs{
    margin-right: 16px;
}
.text{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}