<div class="breadcrumbs">
  <div class="span" [routerLink]="['']" ><mat-icon class="icon">home</mat-icon><div class="text">Home</div></div>
  <div class="span" [routerLink]="['/category']" ><mat-icon class="icon">category</mat-icon><div class="text">Categories</div></div>
  <div class="span" [routerLink]="['/search/###/ ']" ><mat-icon class="icon">label</mat-icon><div class="text">Tags</div></div>
  <!-- <div class="span" [routerLink]="['/category']">Categories</div> -->
  <!-- <div class="span" [routerLink]="['/category', category]">{{ getCategory() }}</div> -->
  <!-- <div class="span" [routerLink]="['/search/###/ ']">Tags</div> -->
</div>
