<form>
  <mat-form-field class="search">
    <textarea
      matInput
      placeholder="Question"
      rows="3"
      type="text"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="8"
      [formControl]="question"
    ></textarea>
    <mat-error *ngIf="question.hasError('required')">
      Question is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="search">
    <textarea
      matInput
      placeholder="Information regarding the question"
      rows="6"
      type="text"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="8"
      [formControl]="description"
    ></textarea>
    <mat-error *ngIf="question.hasError('required')">
      Describe the problem here.
    </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field class="search">
      <input
        [formControl]="categories"
        type="text"
        placeholder="Select a category"
        matInput
        (input)="filter($event.target.value)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of getFilteredList()" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <select class="search" name="categories" id="categories">
      <option *ngFor="let list of getResponse()">{{ list }}</option>
    </select> -->
  </div>
  <mat-form-field class="search">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag.name }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        class="tag-input"
        placeholder="Add tags here..."
        id="tag"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (input)="filterTags($event.target.value)"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="autoTag"
      />
      <mat-autocomplete
      #autoTag="matAutocomplete"
      (optionSelected)="onSelectionChanged($event)"
    >
      <mat-option *ngFor="let option of getFilteredTags()" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>

  <button
    mat-button
    class="dlt-button-post"
    type="submit"
    (click)="post_ques()"
  >
    POST
  </button>
</form>
<!-- <div id="mySidenav" class="sidenav">
    <a class="closebtn" style="cursor:pointer" (click)="closeNav()">&times;</a>
   
  </div> -->

<!-- <h1>Hello</h1> -->
