<div class="close" [routerLink]="['/main/category']"><mat-icon>close</mat-icon></div>
<mat-card class="parent">
  <mat-form-field class="textarea">
    <textarea
      matInput
      placeholder="Troubleshooting query"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="8"
      [formControl]="question"
    ></textarea>
    <mat-error *ngIf="question.hasError('required')">
      Troubleshooting query cannot be <strong>empty</strong>
    </mat-error>
  </mat-form-field>
  <label class="textarea">Description of the problem</label>
  <br />
  <ejs-richtexteditor
    #imageRTE
    id="imageRTE"
    class="richtexteditor"
    width="95%"
    height="350px"
    [(ngModel)]="description"
  >
  </ejs-richtexteditor>
  <label class="textarea" style="margin-top: 16px;">Attachments</label>
  <br />
    <ngx-file-drop
    class="filedrop"
    dropZoneLabel="Drop files here"
    (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector">
      Drop files here
      <button
        mat-button
        class="button"
        type="button"
        (click)="openFileSelector()"
      >
        Browse Files
      </button>
    </ng-template>
  </ngx-file-drop>
  
  <div class="upload-table">
    <div class="fileitem" *ngFor="let item of files; let i = index">
      <div class="item">
        {{ item.relativePath }}<mat-icon (click)=removeFiles(item)>close</mat-icon>
      </div>
    </div>
  </div>
  <mat-form-field class="textarea">
    <input
      [formControl]="categories"
      type="text"
      placeholder="Select a category"
      matInput
      (input)="filter($event.target.value)"
      [matAutocomplete]="auto"
    />
    
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of getFilteredList()" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="textarea">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag.name }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        class="tag-input"
        placeholder="Add tags here..."
        id="tag"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (input)="filterTags($event.target.value)"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="autoTag"
      />
      <mat-autocomplete
        #autoTag="matAutocomplete"
        (optionSelected)="onSelectionChanged($event)"
      >
        <mat-option *ngFor="let option of getFilteredTags()" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>

  <label class="textarea" style="margin-top: 16px;">Solution</label>
  <br />
  <ejs-richtexteditor
    #imageRTEForAnswer
    id="imageRTEForAnswer"
    class="richtexteditor"
    width="95%"
    height="350px"
    [(ngModel)]="val"
  >
  </ejs-richtexteditor>

  <button
    mat-button
    ejs-button
    class="dlt-button-post"
    type="submit"
    (click)="post_qaentry()"
  >
    SUBMIT TROUBLESHOOTING STEP
  </button>
</mat-card>
