.parent {
  display: flex;
  flex-direction: column;
}

.textarea {
  word-wrap: break-word;
  margin-left: 16px;
  margin-right: 16px;
}

.richtexteditor{
  margin-right: 16px;
  margin-left: 16px;
}
