<div>
  <div class="head">
    <div class="list">
      <div class="breadcrumb" (click)="main()">Home</div>
      <mat-icon>chevron_right</mat-icon>
      <div class="breadcrumb" (click)="goToCategory()">
        Category
      </div>
      <mat-icon>chevron_right</mat-icon>
      <div class="breadcrumb">{{ category }}</div>
    </div>
  </div>
</div>
<div class="list-of-questions">
  <ul>
    <mat-card
      class="question-card"
      matRipple
      *ngFor="let list of getQuestions()"
    >
      <div class="question-item">
        <div class="answer-layout">
          <div class="no-of-answers">{{ list.answerCount }}</div>
          <div class="answer-text">Answers</div>
        </div>
        <div class="question-layout">
          <a
            class="question"
            (click)="onClick(list.Question.id)"
            >{{ list.Question.question }}</a
          >
          <div
            class="description"
            (click)="onClick(list.Question.id)"
          >
            {{ list.Question.description }}
          </div>
          <span
            *ngFor="let tag of getTags(list.tags)"
            class="chips"
            (click)="onTagClick(tag)"
          >
            {{ tag }}</span
          >
        </div>
      </div>
    </mat-card>
  </ul>
</div>
<div class="topbar">
  <div
    style="font-family: sans-serif;display: flex;font-size: smaller; align-items: center;"
  >
    <div>Showing results from</div>
    <div class="pg-number" id="from">{{ from + 1 }}</div>
    <div class="pg-number">to</div>
    <div class="pg-number" id="to">{{ from + resultSize }}</div>
  </div>

  <div class="navigation">
    <mat-icon (click)="previousPage()">chevron_left</mat-icon>
    <mat-icon (click)="nextPage()">chevron_right</mat-icon>
  </div>
  <select class="pagesize" (change)="onChange($event)">
    <option *ngFor="let item of pagesizelist" [value]="item"
      >{{ item }}
    </option>
  </select>
</div>
