<div class="list-of-questions">
  <ul>
    <mat-card class="question-card" *ngFor="let list of getQuestions()" [routerLink]="['/qnas', list.Question.id]" (click)= "onClick(list.Question.id)">
      <div class="question-item">
        <div class="answer-layout">
          <div class="no-of-answers">{{ list.answerCount }}</div>
          <div class="answer-text">Answers</div>
        </div>
        <div class="question-layout">
          <div class="question">{{ list.Question.question }}</div>
          <div class="description">{{ list.Question.description }}</div>
            <span *ngFor="let tag of getTags(list.tags)" class="chips"> {{ tag }}</span>
        </div>
      </div>
    </mat-card>
  </ul>
</div>
