.list-of-questions {
  display: flex;
  justify-content: center;
}
.question-card {
  margin-bottom: 10px;
  margin-top: 10px;
  width: max-content;
  height: max-content;
}
.question-item {
  display: flex;
  justify-content: left;
  width: 800px;
}
.answer-layout {
  width: max-content;
  height: max-content;
  text-align: center;
  align-self: center;
  padding: 5px;
  float: left;
}
.answer-text {
  color: green;
  font-size: small;
  margin-top: 5px;
}
.no-of-answers {
  color: green;
  font-weight: bolder;
  font-size: x-large;
}

.question-layout {
  width: max-content;
  float: left;
  padding: 10px;
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
}

.question {
  color: darkslategray;
  font-weight: bold;
  font-size: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  margin-top: 5px;
  margin-bottom: 10px;
  color: lightslategrey;
  font-weight: lighter;
  font-size: smaller;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chips {
  font-size: smaller;
  color: #fff;
  position: relative;
  background-color: #1776bf;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.chips:hover {
  font-size: smaller;
  color: #fff;
  position: relative;
  background-color: #0f4c7b;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
label{
  font-size: 12px;

    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:#333333;
    font-size: 14px;
    font-weight: 500;
}

        .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}


.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


#display{

    margin-left: 1350px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#3498db;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
.search {
  border: 0cm;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000000;
  width: 700px;
}
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  span{
      color:black;
      font-family: sans-serif;
      float: right;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;

    border-bottom: 2px solid #0DB8DE;}


    body {
        background: #222D32;
        font-family: 'Roboto', sans-serif;
    }

    .login-box {
        margin-top: 75px;
        height: auto;
        background: #1A2226;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .login-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 15px;
        font-weight: bold;
        color: #ECF0F5;
    }

    .login-form {
        margin-top: 25px;
        text-align: left;
    }



    .form-group {
        margin-bottom: 40px;
        outline: 0px;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid #0DB8DE;
        outline: 0;
        background-color: #1A2226;
        color: blue;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 0;
    }

    label {
        margin-bottom: 0px;
    }

    .form-control-label {
        font-size: 10px;
        color: blue;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .btn-outline-primary {
        border-color: #0DB8DE;
        color: #0DB8DE;
        border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .btn-outline-primary:hover {
        background-color: #0DB8DE;
        right: 0px;
    }

    .login-btm {
        float: left;
    }

    .login-button {
        padding-right: 0px;
        text-align: right;
        margin-bottom: 25px;
    }

    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }

    .loginbttm {
        padding: 0px;
    }



  /* .editor-tag {
    cursor: text;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background: white;
    border: 1px #cccccc solid;} */

    .tag-item {
      line-height: 20px;
      border-radius: 14px;
      height: 30px;
      font-size: 18px;
      display: inline-block;
      background: violet;
      padding-left: 5px;
      color:white;
    }
      .remove-tag {
        padding-right: 5px;
        cursor: pointer;
      }


    .tag-item:not(:first-child) {
      margin-left: 5px;
    }

    /* input {
      margin: 0;
      padding-left: 5px;
      border: none;
      outline: none;
      border-radius: 5px;
    } */
    .example-chip-list {
        width: 50%;
      }
      #tag{
          color:white;
      }
       .sidenav{
                top:145px;
            }
mat-chip{
color: red;}