.head{
    width: auto;
    justify-content: center;
    text-align: center;
}
.categories {
    display: flex;
    justify-content: center;
}
.button{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: lightskyblue;
    padding: 10px;
}
.button-text{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    width: 100px;
    border-radius: 15px;
}