<div>
  <button mat-button class="dlt-button" (click)="addQAEntry()">
    Add a troubleshooting step
  </button>
  <div class="head">Categories</div>
</div>

<div class="categories">
  <!-- <mat-card class="button" *ngFor="let list of getResponse() | slice:row*2:row*2+2" (click) = "onClick(list)" [routerLink]="['/categories', list]">
     <p  class="button-text" > {{ list }}</p>
  </mat-card> -->

  <mat-card
    class="matcard-categories"
    *ngFor="let list of getResponse()"
    (click)="onClick(list)"
    [routerLink]="['/category', list]"
  >
    <p class="button-text">{{ list }}</p>
  </mat-card>
</div>
<button mat-fab class="fab" (click)="openDialog()"><mat-icon>add</mat-icon></button>
